db.sqlite3

# Byte-compiled
.cache/*
staticfiles/*
*.pyc

#sqlitedb
db.sqlite3

# cache
youbeon_api/__pycache__/
youbeon_backend/__pycache__/

# IDE
.idea

# the only file we want to have in git for migrations is __init__.py
youbeon_api/migrations/*


youbeon_api/__pycache__/models.cpython-38.pyc
youbeon_api/__pycache__/models.cpython-38.pyc
